In [1]:
import sqlite3
import csv
from sqlalchemy import create_engine
%load_ext sql_magic

# Create engine instance using sqlalchemy
engine = create_engine("sqlite:///TMDB.db")
%config SQL.conn_name = 'engine'

# Create connection object using sqlite3
conn = sqlite3.connect('TMDB.db')
cursor = conn.cursor()

In [2]:
%%read_sql
SELECT *

FROM
    movies

Query started at 07:36:38 AM W. Central Africa Standard Time; Query executed in 0.01 m

,movie_id,title,release_date,budget,homepage,original_language,original_title,overview,popularity,revenue,runtime,release_status,tagline,vote_average,vote_count
0,5,Four Rooms,1995-12-09 00:00:00.000000,4000000,None,en,Four Rooms,It's Ted the Bellhop's first night on the job....,22.876230,4300000.0,98.0,Released,Twelve outrageous guests. Four scandalous requ...,6.5,530
1,11,Star Wars,1977-05-25 00:00:00.000000,11000000,http://www.starwars.com/films/star-wars-episod...,en,Star Wars,Princess Leia is captured and held hostage by ...,126.393695,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",8.1,6624
2,12,Finding Nemo,2003-05-30 00:00:00.000000,94000000,http://movies.disney.com/finding-nemo,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",85.688789,940335536.0,100.0,Released,"There are 3.7 trillion fish in the ocean, they...",7.6,6122
3,13,Forrest Gump,1994-07-06 00:00:00.000000,55000000,None,en,Forrest Gump,A man with a low IQ has accomplished great thi...,138.133331,677945399.0,142.0,Released,"The world will never be the same, once you've ...",8.2,7927
4,14,American Beauty,1999-09-15 00:00:00.000000,15000000,http://www.dreamworks.com/ab/,en,American Beauty,"Lester Burnham, a depressed suburban father in...",80.878605,356296601.0,122.0,Released,Look closer.,7.9,3313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,426067,Midnight Cabaret,1990-01-01 00:00:00.000000,0,None,en,Midnight Cabaret,A Broadway producer puts on a play with a Devi...,0.001389,0.0,94.0,Released,The hot spot where Satan's waitin'.,0.0,0
4799,426469,Growing Up Smith,2017-02-03 00:00:00.000000,0,http://www.growingupsmithmovie.com,en,Growing Up Smith,"""In 1979, an Indian family moves to America wi...",0.710870,0.0,102.0,Released,It√Üs better to stand out than to fit in.,7.4,7
4800,433715,8 Days,2014-06-15 00:00:00.000000,0,None,en,8 Days,"After sneaking to a party with her friends, 16...",0.015295,0.0,90.0,Released,She never knew it could happen to her...,0.0,0
4801,447027,Running Forever,2015-10-27 00:00:00.000000,0,None,en,Running Forever,After being estranged since her mother's death...,0.028756,0.0,88.0,Released,None,0.0,0
4802,459488,"To Be Frank, Sinatra at 100",2015-12-12 00:00:00.000000,2,None,en,"To Be Frank, Sinatra at 100",None,0.050625,0.0,NaN,Released,None,0.0,0